/* DEFAULT STYLING */
/* DEFAULT STYLING */

* {
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
}
.container-child {
    width: 80%;
}
a {
    text-decoration: none;
    color: white;
}
/* DEFAULT STYLING */
/* DEFAULT STYLING */


/* HEADER */
/* HEADER */
#container-header{
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#header-logo {
    color: white;
    text-align: center;
}
.links {
    display: flex;
    gap: 20px;
    text-align: center;
}
/* HEADER */
/* HEADER */


/* SECTION-ONE */
/* SECTION-ONE */
#container-section-one{
    background-color: #1f2937;
}
.section-one {
    display: flex;
    gap: 10%;
    margin: 50px 0px;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    width: 45%;
}
#hero-headline {
    color: #f9faf8;
    font-weight: bolder;
    font-size: 48px;
}
#hero-secondary-text {
    color: #f9faf8;
    font-size: 18px;
}
#hero-button {
    background-color: #3882f6;
    border: 0px;
    border-radius: 8px;
    color: white;
    padding: 5px 25px;
}
.hero-img {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: grey;
    max-width: 350px;
    max-height: 300px;
    min-height: 100px;
    min-height: 75px;

    /* i am here, problem = hero-img height and width aspect ratio is not being maintained, is not set */
}

/* SECTION-ONE */
/* SECTION-ONE */


/* SECTION TWO */
/* SECTION TWO */
#container-section-two {
    background-color: green;
}
.section-two {
    display: flex;
    background-color: yellow;
}
/* SECTION TWO */
/* SECTION TWO */


/* SECTION THREE */
/* SECTION THREE */
#container-section-three {
    background-color: yellow;
}
.section-three {
    display: flex;
    background-color: green;
}
/* SECTION THREE */
/* SECTION THREE */


/* SECTION FOUR */
/* SECTION FOUR */
#container-section-four {
    background-color: orange;
}
.section-four {
    display: flex;
    background-color: blue;
}
/* SECTION FOUR */
/* SECTION FOUR */


/* FOOTER */
/* FOOTER */
.footer {
    display: flex;
    background-color: purple;
}
/* FOOTER */
/* FOOTER */